body {
    background-image: url('../images/blur-close-up-daylight-lighter.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.display-1 {
    line-height: 150px;
    letter-spacing: 5px;
    color: #FBFCFF;
    font-style: oblique;
}

p {
    color: #cecece;
}

#instructions, #numbers, #crystals, #scoreboard {
    padding: 40px;
}

.lead {
    font-size: 24px;
    color: #E59F71;
}

.imgGem {
    height: 120px;
    cursor: grab;
}

.h5 {
    color: #cecece;
}
