body {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}

.border {
    border: 1px white solid;
}

#title {
    height: 100px;
}

#titleImg {
    float: left;
    position: fixed;
    overflow: auto;
    padding-top: 10px;
    height: 200px;
}

#charSelect {
    padding: 30px;
}

.card {
    max-width: 202px;
}

.card:hover {
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.card-img-top {
    width: 200px;
}

.h3 {
    color: #fff;
}

#attack, #status {
    padding-top: 30px;
}